.navMenu ul {
  display: flex;
  height: 100%;
}

.navMenu ul li {
  height: 100%;
}

.navMenu ul li a {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  padding: 0 22px;
}

.navMenu ul li:first-child {
  padding-left: 0;
}

.navMenu ul li:last-child {
  padding-right: 0;
}

.navMenu ul li a {
  transition: color .4s;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  color: #2d2d28;
  letter-spacing: .1em;
}

.navMenu ul li a:hover {
  color: #5c5c5c;
}